body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    background-color: #f6f6f6;
}
header {
    position: relative;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #8bb8f1, #fff);
    background-image: url("/revesz.de/img/header.jpg");
}
header #schriftzug {
    width: 400px;
    padding-left: 120px;
}
header > * {
    z-index: 10;
}
header #title {
    font-size: 24px;
}
header #slideshow img {
    display: none;
    height: 200px;
    padding-right: 100px;
}
nav#site-navigation #menu-icon {
    display: none;
}
nav#site-navigation {
    background-color: #809fbe;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.16),1px 1px 2px rgba(0,0,0,0.24);
}
nav#site-navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 8px;
    justify-content: space-around;
    width: 800px;

}
nav#site-navigation ul a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}
nav#site-navigation ul .menu-item.current a {
    text-decoration: underline;
    text-underline-position: under;
}
#main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
main {
    background-color: #d4dee8;
    max-width: 960px;
    margin-top: 18px;
    border-radius: 12px;
    padding: 6px 32px;
    color: #000070;
}
#toc {
    background-color: #679c30;
    padding: 16px 32px;
    border-radius: 12px;
    color: #eeeeff;
    position: fixed;
    left: 20px;
    top: 350px;
    width: 260px;
    max-height: 400px;
    overflow-y: auto;
}
#toc a {
    color: white;
    text-decoration: none;
}
#toc ul {
    padding-left: 16px;
}

footer {
    background-color: #679c30;
    padding: 6px 20px;
    border-radius: 12px;
    color: #eeeeff;
    position: fixed;
    right: 20px;
    top: 350px;
    width: 200px;
}
a#impressum {
    background-color: #a5a5a5;
    border-radius: 3px;
    padding: 6px 20px;
    color: #000070;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}
h1 {font-size: 28px; font-weight:normal;}
h2 {font-size: 20px; font-weight:normal;}
h3 {font-size: 20px; font-weight:normal; text-decoration:underline; text-underline-position:under; text-decoration-color:#a5a5a5; 
p {font-size: 16px; font-weight:normal;}
