body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    background-color: #f6f6f6;
}
header {
    position: relative;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #8bb8f1, #fff);
    background-image: url("/img/header.jpg");
}
header #schriftzug {
    width: 400px;
    padding-left: 120px;
}
header > * {
    z-index: 10;
}
header #title {
    font-size: 24px;
}
header #slideshow img {
    display: none;
    height: 200px;
    padding-right: 100px;
}
nav#site-navigation #menu-icon {
    display: none;
}
nav#site-navigation {
    background-color: #809fbe;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.16),1px 1px 2px rgba(0,0,0,0.24);
    flex-wrap: wrap;
}
nav#site-navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 8px;
    justify-content: space-around;
    width: 800px;

}
nav#site-navigation ul a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 0 8px;
}
nav#site-navigation ul .menu-item.current a {
    text-decoration: underline;
    text-underline-position: under;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main, #news {
    background-color: #d4dee8;
    max-width: 960px;
    margin-top: 18px;
    border-radius: 12px;
    padding: 6px 32px;
    color: #000070;
}
#toc {
    background-color: #679c30;
    padding: 16px 32px;
    border-radius: 12px;
    color: #eeeeff;
    position: fixed;
    left: 20px;
    top: 350px;
    width: 260px;
    max-height: 400px;
    overflow-y: auto;
}
#toc a {
    color: white;
    text-decoration: none;
}
#toc ul {
    padding-left: 16px;
}

footer {
    background-color: #679c30;
    padding: 6px 20px;
    border-radius: 12px;
    color: #eeeeff;
    position: fixed;
    right: 20px;
    top: 350px;
    width: 200px;
}
a#impressum {
    background-color: #809fbe;
    font-weight: 600;
    border-radius: 3px;
    padding: 6px 20px;
    color: #000070;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}
h1 {font-size: 28px; font-weight:normal;}
h2 {font-size: 20px; font-weight:normal;}
h3 {font-size: 20px; font-weight:normal; text-decoration:underline; text-underline-position:under; text-decoration-color:#a5a5a5; }
p {font-size: 16px; font-weight:normal;}
hr {width: 50%; align: center; size: 2; }

@media (max-width: 1500px) {
    nav#site-navigation {
        box-shadow: none;
    }
    footer {
        box-shadow: 1px 1px 2px rgba(0,0,0,0.16),1px 1px 2px rgba(0,0,0,0.24);
        border-radius: 0;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 0;

    }
    footer h1 {
        font-size: 16px;
        font-weight: bold;
    }
    footer h1, footer p {
        margin: 0;
        padding: 12px;
    }

    footer br {
        display: none;
    }
    footer br::after {
        display: inline-block;
        content: "·";
    }
    #toc {
        display: none;
    }
}
@media (max-width: 1200px) {
    header #schriftzug {
        padding-left: 50px;
    }
    header #slideshow img {
        padding-right: 50px;
    }
    a#impressum {
        position: relative;
        right: 0;
        bottom: 0;
        display: block;
        max-width: 980px;
        margin: 16px auto;
    }
}
@media (max-width: 1000px) {
    main, #news, a#impressum {
        border-radius: 0;
    }
    header #slideshow img {
        height: 150px;
    }
}
@media (max-width: 800px) {
    footer h1 {
        display: none;
    }
    header #slideshow {
        display: none;
    }
    header #schriftzug {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

}
@media (max-width: 800px) {
    header {
        min-height: 125px;
    }
}
