<h2 style="text-align: center"> + + + + + + + + + + + + + + + + + + + +</h2>

<h3>Neu erschienen</h3>

<img src="{{ site.baseurl }}/img/maerchenbuch.png" width="180" style="float:right;" alt="Cover Märchenland für alle"> 
<h2>Märchenland für alle</h2>
<p>
  Herausgeber: Boldizsár Nagy<br>
  Illustratorin: Lilla Bölecz<br>
  Aus dem Ungarischen von Christina Kunze, Tünde Malomvölgyi und Timea Tankó<br>
  Dorling Kindersley, 2022
</p>
<br>
<p>
  <a href="https://www.stern.de/kultur/maerchenland-fuer-alle--hier-koennen-sie-einen-auszug-aus-dem-diversen-maerchenbuch-lesen-31703068.html">Auszug aus dem Buch </a>
  <br> <a href="https://www.stern.de/kultur/maerchenland-fuer-alle--der-stern-veroeffentlicht-umstrittenes-maerchenbuch-aus-ungarn--31703342.html">Artikel zum Projekt im STERN</a>
</p>

<br style="clear: right;"><br>
<hr>
<br>

<h2>György Berkovits: Die hundertjährige Tänzerin. Drei Theaterstücke</h2>
<img src="https://images-na.ssl-images-amazon.com/images/I/41DBe1xTuAL._SX333_BO1,204,203,200_.jpg" width="100" alt="Cover Berkovits: Tänzerin" style="float:left; margin-right: 24px">
<p>Schenk Verlag, 2021</p>
<a href="http://www.schenkbuchverlag.de/buch/Belletristik/Europaische_Literatur/126-Die_hundertjahrige_Tanzerin">Informationen zum Buch</a>
<p>

<br style="clear: left;"><br>
<hr>
<br>

<h2>"Mein Hirn: Ein See"</h2>
  <a href="https://www.translationale-berlin.net/" style="text-decoration: none;">translationale berlin | 1.–3. Oktober 2021 | Berlin<br>
<a href="https://www.translationale-berlin.net/festival/" style="text-decoration: none;">Aus der Pressemeldung:</a> Berlin hat ein neues Festival: Die <i>translationale berlin</i> feiert, was Literatur zu Weltliteratur macht. Drei Tage lang sind internationale Übersetzer:innen, Autor:innen, Künstler:innen und Wissenschaftler:innen im Collegium Hungaricum Berlin zu Gast. Mit Lesungen, Diskussionen, Performances und Vorträgen, öffentlichen Workshops mit Kindern, Jugendlichen und Studierenden, einer Festrede und Materialgesprächen zu Stimmen, Verantwortungen, Verwandlungsprozessen und Grenzüberschreitungen, mit übersetzter Poesie und der Poesie der Übersetzung, einem Übersetzerinnenporträt und einem Kritikerslam, Filmen, Fotos, einer Preisverleihung und einer Show über einige Dead Ladies der Übersetzungskunst rückt eine besondere literarische, soziale und politische Praxis in den Blick. 
<p>
Im Rahmen des Festivals findet ein Workshop zum Lyrikübersetzen statt, in dem wir uns mit  Ágnes Nemes Nagy und ihren Gedichten beschäftigen; die Ergebnisse werden im Rahmen der Abschlussveranstaltung "Mein Hirn: Ein See" präsentiert.
