<h2 style="text-align: center"> + + + + + + + + + + + + + + + + + + + +</h2>
<br>

<img src="{{ site.baseurl }}/img/buchv_anth.png" alt="Buchvorstellung:  Anscheinend gehört die Welt uns?" style="float:right; margin-right: 24px"></a>

<br style="clear: right;"> <br>
<hr>
<br>
<img src="{{ site.baseurl }}/img/palagyi.jpg" alt="Cover Palágyi: Frühe Schriften" style="float:left; margin-left: 24px"></a>
<h2>Melchior Palágyi: Frühe Schriften zur Psychologie, Logik und Erkenntnistheorie (1893–1897)</h2>
<p>Herausgegeben und eingeleitet von Heiko Heublein<br>
  Übersetzt von Christina Kunze<br>
  Igel Verlag Hamburg, 2024
<br>
<a href="https://www.diplomica-verlag.de/wissenschaft_86/melchior-pal-gyi-fruumlhe-schriften-zur-psychologie-logik-und-erkenntnistheorie-1893-1897_166821.htm">Informationen zum Buch</a>

<br style="clear: left;"> <br>
<hr>
<br>
  
<img src="{{ site.baseurl }}/img/anscheinend_cover.jpg" alt="Cover Anscheinend gehört die Welt uns?" style="float:right; margin-right: 24px"></a>
<h2>Anscheinend gehört die Welt uns?<br> Neue ungarische Prosa</h2>
<p>Herausgegeben vom Berliner Übersetzer:innenkreis für ungarische Literatur<br>
<p>KLAK Verlag Berlin, 2024.<br>
<a href="https://www.klakverlag.de/produkt/anscheinend-gehoert-die-welt-uns-neue-ungarische-prosa/">Informationen zum Buch</a>
  <p>Buchvorstellung mit Panni Puskás und Norbert Vass <br> Moderation: Natascha Freundel <br>Leipziger Buchmesse<br>21. März 2024, 15–16 Uhr<br> Halle 4, Forum Weltweit</p>

<br style="clear: right;"> <br>
<hr>
<br>

<img src="{{ site.baseurl }}/img/handbuch_rel_cover.png" alt="Cover Handbuch der Religions- und Kirchengeschichte der Slowakei im 20. Jahrhundert" style="float:left; margin-left: 24px"></a>
<h2>Martin Zückert (Hg.): Handbuch der Religions- und Kirchengeschichte der Slowakei im 20. Jahrhundert</h2>
<p>(Veröffentlichungen des Collegium Carolinum, Band 148)<br>
  Vandenhoeck & Ruprecht Verlage, 2024
<br>
<a href="https://www.vandenhoeck-ruprecht-verlage.com/themen-entdecken/theologie-und-religion/kirchengeschichte/58881/handbuch-der-religions-und-kirchengeschichte-der-slowakei-im-20-jahrhundert">Informationen zum Buch</a>

<br style="clear: left;"> <br>
<hr>
<br>

<img src="{{ site.baseurl }}/img/nyiszli_cover.png" alt="Cover Nyiszli: Im Jenseits der Menschlichkeit. Ein Gerichtsmediziner in Auschwitz" style="float:right; margin-right: 24px"></a>
<h2>Miklós Nyiszli: Im Jenseits der Menschlichkeit</h2>
<p>Herausgegeben von Andreas Kilian und Friedrich Herber<br>
Übersetzt von Angelika Bihari und Christina Kunze</p>
<p>Dietz Berlin, 2024.<br>
<a href="https://dietzberlin.de/produkt/im-jenseits-der-menschlichkeit/">Informationen zum Buch</a>

<br style="clear: right;"> <br>
<hr>
<br>

<img src="{{ site.baseurl }}/img/balkanschoen.jpg" alt="Cover Végel: Balkanschönheit" style="float:left; margin-left: 24px"></a>
<h2>László Végel: Balkanschönheit oder Schlemihls Bastard</h2>
<p></p>[Balkáni szépség avagy Slemil fattyúja] <br>
Wieser Verlag, 2023.<br>
<a href="https://www.wieser-verlag.com/buch/balkanschoenheit-oder-schlemihls-bastard/">Informationen zum Buch</a>

<br style="clear: left;"> <br>
<hr>
<br>

<img src="{{ site.baseurl }}/img/schwarzekirche.jpg" alt="Cover Ziegler: Schwarze Kirche" style="float:right; margin-right: 24px"></a>
<h2>Agnes Ziegler: Die Schwarze Kirche zu Kronstadt – Reformation und Wiederaufbau</h2>
<p>Schnell & Steiner Verlag, 2022.<br>
<a href="https://schnell-und-steiner.de/produkt/die-schwarze-kirche-zu-kronstadt-reformation-und-wiederaufbau/">Informationen zum Buch</a>

<br style="clear: right;"> <br>
<hr>
<br>

<img src="/img/treibgut_fin.png" style="box-shadow:none;" width="200" alt="Treibgut">
<h2>Alte Gedichte </h2>

<p>Beim Übersetzen älterer ungarischer Gedichte (16.–19. Jh.) stehe ich vor mehreren Herausforderungen gleichzeitig: 
  den metrischen Anforderungen, der alten Sprache mit ihren Verständnisunschärfen, dem sprachlichen Abstand zu heute, 
  den ich nicht unter den Tisch fallen lassen will.
<p>Was mache ich dabei mit der Sprache? Auf gar keinen Fall versuche ich, ein „damaliges“ Deutsch zu fingieren. Das ist auch gar nicht möglich; 
  selbst wenn ich mich in damalige Texte vertiefen und während der Übersetzung nichts anderes hören und lesen wollte, lebe ich doch in der Gegenwart 
  und in der heutigen Sprache. 
<p>Dennoch lese ich – so vorhanden – original deutsche Paralleltexte, denn in ihnen kann ich kennenlernen, wie man über Dinge, Ereignisse usw.
  dachte und dichtete. Welche Formulierungen verwendete man, wenn eine nahestehende oder eine feindliche Person starb? Wie wurde Schönheit beschrieben? 
  Wie wurden sprachliche Bilder in den Text „eingehängt“? Mit welchen Wörtern wurde auf lateinische oder Bibelzitate Bezug genommen? 
<p>Ich verwende ältere Ausdrücke und Formen, aber sparsam. Sie sollen dem Text ein Gepräge geben, ihn in einer zurückliegenden Zeit situieren, aber nur 
  als „Marker“, sodass sie hoffentlich nicht erdrücken oder abschrecken. Natürlich dürfen ältere Texte sprachlich etwas fremd wirken, das tun ja ältere 
  deutsche Texte auch (je nach Alter oft in viel höherem Maß als eine Übersetzung von heute).
<p>Oft sehe ich nach, ob Wörter, die ich verwenden will, damals schon verwendet wurden bzw. ob sie damals hießen, was sie heute heißen. Sinntragende bzw. 
  wichtige Wörter und Wendungen, die es nicht gab, vermeide ich; solche, die etwas anderes bedeuteten als heute, nach Möglichkeit ebenfalls. 
<p>Ein Beispiel: Zu Luthers Zeit bedeutete „schlecht“ noch „gerade“ im Gegensatz zu „krumm“, „glatt“ im Gegensatz zu „uneben“ oder „rau“, aber auch schon 
  „schlicht“ (einfach). Wenn also ein Gärtner versuchte, einen krummen Baum schlecht zu machen, dann wollte er ihn geraderichten. Wenn Luther von Hiob sagt, 
  er sei „schlecht und recht, gottesfürchtig und mied das Böse“, wenn Johann Heinrich Voß von seiner Luise schreibt „schlecht und recht, in edler 
  Bescheidenheit ehrvoll“, dann ist „schlecht“ noch durchaus positiv zu lesen. 
<br>Anders 1885 in der <a href="https://de.wikisource.org/wiki/Seite:Die_Gartenlaube_(1877)_151.jpg"> Gartenlaube</a>, wo „recht und schlecht“ parallel zu „gut 
  und böse“ gestellt ist, also Gegenteiliges bedeutet. Interessant übrigens die charakteristische Änderung der Reihenfolge. 
<p>Der Wandel vollzog sich schrittweise. Im <a href="https://www.google.de/books/edition/Grosses_vollst%C3%A4ndiges_Universal_Lexicon/CvhfAAAAcAAJ?hl=de&gbpv=1&dq=%22recht+und+schlecht%22&pg=PA5&printsec=frontcover">Universallexikon</a>von 1743
  ist „schlecht und recht“ noch in dieser Bedeutung verzeichnet. Gegen Ende des 19. Jahrhunderts kam, zunächst regelmäßig als scherzhafte bzw. lockere 
  Erweiterung der älteren Redensart, „mehr schlecht als recht“ dazu, beispielsweise bei <a href="https://www.google.de/books/edition/bd_Angela/tuzkAAAAMAAJ?hl=de&gbpv=1&dq=%22schlecht+als+recht%22&pg=PA108&printsec=frontcover">
  Friedrich Spielhagen</a> oder im <a href="https://www.google.de/books/edition/Daheim/r1dTAAAAcAAJ?hl=de&gbpv=1&dq=%22schlecht+als+recht%22&pg=PA800&printsec=frontcover">Deutschen Familienblatt</a>. 
  In <a href="https://www.google.de/books/edition/Wie_der_deutsche_spricht/0H86AQAAMAAJ?hl=de&gbpv=1&dq=%22schlecht+als+recht%22&pg=PA272&printsec=frontcover">„Wie der Deutsche spricht. Phraseologie der volkstümlichen Sprache“</a> 
  von 1896 wurde die Verbindung – mit der Anmerkung „Scherz“ – als Redensart aufgenommen.
<br>Zur selben Zeit begann man, „mehr schlecht als recht“ auch isoliert zu verwenden, und diese Bedeutung verstetigte sich im 20. Jahrhundert. 
<p>Hier ist also abzuwägen, wieviel Sprachkenntnis ich bei den Leser·innen voraussetzen will. Mit der Verwendung von „schlecht“ bin ich jedenfalls vorsichtig.
<p>

<br>
<hr>
<br>

<img src="/img/treibgut_fin.png" style="box-shadow:none;" width="200" alt="Treibgut">
<h2>Kino im 18. Jahrhundert</h2>

<p>Auf der Suche danach, ob 1923 in Berlin wohl „Kino“ oder etwas anderes (Kinematograph, Lichtspieltheater, Filmtheater, Kintopp) gesagt wurde, 
  habe ich <a href="https://books.google.com/ngrams/graph?content=kino%2Ckinematograph%2Clichtspieltheater%2Cfilmtheater&year_start=1850&year_end=1930&corpus=31&smoothing=3#">ngram</a> befragt. 
  Dabei fiel mir auf, dass es zahlreiche Treffer für „Kino“ gibt, und zwar auch schon weit vor der Erfindung des Kinematographen, von dem doch 
  laut etymologischem Wörterbuch „Kino“ als Kurzwort stammen soll. 
 <br>Natürlich könnten es OCR-Lesefehler von „Kind“ sein, zumindest in den alten Antiqua-Schriften sieht das Wort ja <a href="https://www.google.de/books/edition/Der_weis_Ritter_wie_er_so_getruwlich_bei/xF70mF3Fv_UC?hl=de&gbpv=1&dq=kino&pg=PR8-IA1&printsec=frontcover">ganz ähnlich aus</a>. 
<p>Doch das ist es nicht allein, Kino kommt in dieser Form auch in älteren allgemeinen <a href="https://www.google.de/books/edition/Allgemeine_Encyclop%C3%A4die_der_Wissenschaf/piEHWOnB9kMC?hl=de&gbpv=1&dq=kino&pg=PA113&printsec=frontcover">(1884)</a> 
  und Fachlexika <a href="https://www.google.de/books/edition/The_Philosophy_of_Medicine/OwJcAAAAQAAJ?hl=de&gbpv=1&dq=kino&pg=PA565&printsec=frontcover">(1800)</a> 
  und <a href="https://www.google.de/books/edition/Dispensatorium_universale_in_usum_commun/8kpfAAAAcAAJ?hl=de&gbpv=1&dq=kino&pg=PA284&printsec=frontcover">(1798)</a> vor.
<p>Kino ist der Saft der <a href="https://de.wikipedia.org/wiki/Coccoloba_uvifera">Seetraube</a> und hat adstringierende Wirkung, so dass es zum Gerben, 
  beim <a href="https://www.google.de/books/edition/Die_Ausbr%C3%BCche_Sekte_und_S%C3%BCdweine/sa45AQAAIAAJ?hl=de&gbpv=1&bsq=kinogummi&dq=kinogummi&printsec=frontcover">Weinanbau</a>, 
  in der Parfumherstellung und <a href="https://www.google.de/books/edition/Compendium_der_Arzneiverordnung/WIw0AQAAMAAJ?hl=de&gbpv=1&bsq=kinogummi+kino&dq=kinogummi+kino&printsec=frontcover">zu medizinischen Zwecken</a> eingesetzt wurde.
<br>Vermutlich gehört das Wort in dieser Bedeutung so sehr zum Fachwortschatz, dass es kein Hindernis für die Bildung des Kurzwortes aus "Kinematograph" bildete.
<p>Es waren übrigens auch noch andere Scanfehler dabei, an die ich bei meiner ersten Überlegung nicht gedacht habe: <a href="https://www.google.de/books/edition/Christliche_Sitten_Lehr_Uber_die_Evangel/n4BBAAAAcAAJ?hl=de&gbpv=1&dq=kino&pg=PA301&printsec=frontcover">„Kin=“</a> mit Silbentrennung in Fraktur wurde als „Kino“ gelesen, 
ebenso <a href="https://www.google.de/books/edition/Christliche_Berathschlagungen_vnd_Bedenc/kErvZwfJIcwC?hl=de&gbpv=1&dq=kino&pg=PA39&printsec=frontcover">„kün=“</a>.
<p> Man hat übrigens in Berlin um 1923 „Kino“ gesagt. 
<br><a href="https://www.projekt-gutenberg.org/tucholsk/5prosa/chap001.html">Sssst! Was die Leute bloß immer reden, wenn sie im Kino sind! Man versteht ja gar nichts …!</a>
<p> 

<br>
<hr>
<br>

<h2>László Végel: Neoplanta oder Das Gelobte Land. Stadtroman</h2>
<img src="{{ site.baseurl }}/img/neoplanta_cover.jpg" alt="Cover Végel: Neoplanta" style="float:left; margin-right: 24px"></a>
<p>[Neoplanta avagy az Ígéret Földje]</p>
<p>Novi Sad : Akademska Knjiga <br>und <br>Klagenfurt : Wieser Verlag
<br><a href="https://www.wieser-verlag.com/buch/neoplanta-oder-das-gelobte-land/">Informationen zum Buch</a>
<p>

<br style="clear: left;"><br>
<hr>
<br>

<h2>Plainly visible</h2>
<a href="https://www.facebook.com/people/Plainly-Visible-Photographs-of-Translators/100068413981533/">
<img src="{{ site.baseurl }}/img/portr.jpg" width="150" style="float:right;" alt="Porträt Christina Kunze"></a>
<p>Die Übersetzerin und Fotografin Anja Kapunkt fotografiert Kolleg·innen aus aller Welt und verhilft ihnen so zu mehr Sichtbarkeit. 
  <br>Ich durfte mich auch <a href="https://www.facebook.com/people/Plainly-Visible-Photographs-of-Translators/100068413981533/">fotografieren lassen und etwas zu meiner Arbeit schreiben:</a> 
</p>
<br style="clear: right;"><br>
  
<br>  
<hr>
<br>

<img src="/img/treibgut_fin.png" style="box-shadow:none;" width="200" alt="Treibgut">
<h2>Die Rolle der Zielscheibe für die Bildung von abstrakten Begriffen</2>
<p><span style="font-style:italic;">tárgy</span> wurde – ebenso wie das heute vielleicht eher aus Wappen-Kontexten bekannte deutsche Wort 
  <a href="https://www.deutsche-digitale-bibliothek.de/item/P7V63J5KLMIZJSWUC5JVRXG4CZMOVAGE">„Tartsche“</a> – aus dem altfranzösischen 
  <span style="font-style:italic;">targe</span> (Schild) entlehnt und bedeutete zunächst <a href="https://de.wikipedia.org/wiki/Chelone_(Belagerungsger%C3%A4t)"> Sturmdach (χελώνη, testudo)</a>
  und Schild. Weil Schilde gern mal als Zielscheibe benutzt wurden, nahm es dann (auch) diese Bedeutung an, noch später begann es, das Ziel der Schüsse zu 
  bedeuten, schließlich wurde es abstrakt und bedeutet jetzt Gegenstand, Objekt (auch grammatisch). <br>
κέντρον hieß bei seinem ersten Auftreten Stachel und bedeutete außer dem Stachel, mit dem Zugtiere angetrieben wurden und wider den man nicht löcken
  sollte (Apg 26,14 <a href="https://www.bibel-online.net/buch/luther_1545_letzte_hand/apostelgeschichte/26/#14">in der Übersetzung von D. Martinus L.</a>) 
  auch den festen Schenkel des Zirkels, mit dem man in den Mittelpunkt sticht, um einen Kreis zu zeichnen. Der Mittelpunkt ist der Dreh- und Angelpunkt 
  dieses Vergleichs, und so bedeutet auch „κέντρον“ den Mittelpunkt einer Zielscheibe, von ihm abgeleitet ist das deutsche Wort Zentrum, Mittelpunkt, 
  wichtigste Stelle, also wieder ziemlich abstrakt.<br>
Um so eine Zielscheibe zu fixieren, wurden Nägel oder Keile verwendet, mit anderem Namen <span style="font-style:italic;">zweck</span>. Nachdem dieses 
  Wort zunächst nur das Befestigungsmittel der Zielscheibe bezeichnete, erweiterte sich seine Bedeutung und umfasste nach und nach auch das Ziel selbst. 
  So konnte bei Andreas Gryphius – noch nah an der wörtlichen Bedeutung – geseufzt werden 
  <a href=" https://www.projekt-gutenberg.org/gryphius/papinian/papini31.html">"Ach leider! grosse Fraw! du hast den Zweck getroffen!"</a>, aber 
  eine andere Dame konnte nicht <a href="https://www.projekt-gutenberg.org/gryphius/catharin/cathar51.html">"Vnkeuscher Augen Zweck' vnd Frevel Spiel"</a> 
  sein wollen. Aus diesem Gebrauch entwickelte sich die heutige Bedeutung „Handlungsziel“.
<br>  
<hr>
<br>

<h2><span style="color: #f9423a; font-weight:bold; margin-bottom: 17px;">BERÜHRUNGEN WEITERTRAGEN </span></h2>
<p ><a href="https://www.toledo-programm.de/talks/1346/beruhrungsangste">TOLEDO TALKS | Berührungsängste </a></p>
<p>Es war einmal ein Märchenbuch, das erzählte nicht nur Geschichten von den Reichen, Schönen, Hellhäutigen und Heterosexuellen, 
  nein, es gab darin auch Held·innen, auf die all das nicht zutraf oder nicht alles davon, deren Alltag nicht rosarot und 
  rüstungssilbern glänzte, die mit Armut, Gewalt und Krankheiten konfrontiert waren, die nicht in einer heilen Familie aufwuchsen, 
  die, statt eine Karriere als schöne Braut oder heldenhafter Drachentöter anzustreben, ihren eigenen Weg gingen, sich über 
  festgefügte Konventionen hinwegsetzten und herausfanden, welches Leben sich für sie selbst richtig anfühlte. 
<br>
  <a href="https://www.toledo-programm.de/talks/4110/beruhrungen-weitertragen">Weiterlesen … </a>
<br>  
<hr>
<br>
<img src="{{ site.baseurl }}/img/maerchenbuch.png" width="180" style="float:right;" alt="Cover Märchenland für alle"> 
<h2>Märchenland für alle</h2>
<p>
  Herausgeber: Boldizsár Nagy<br>
  Illustratorin: Lilla Bölecz<br>
  Aus dem Ungarischen von Christina Kunze, Tünde Malomvölgyi und Timea Tankó<br>
  Dorling Kindersley, 2022
</p>
<br>
<p>
  <a href="https://www.stern.de/kultur/maerchenland-fuer-alle--hier-koennen-sie-einen-auszug-aus-dem-diversen-maerchenbuch-lesen-31703068.html">Auszug aus dem Buch </a>
  <br> <a href="https://www.stern.de/kultur/maerchenland-fuer-alle--der-stern-veroeffentlicht-umstrittenes-maerchenbuch-aus-ungarn--31703342.html">Artikel zum Projekt im STERN</a>
</p>

<br style="clear: right;"><br>
<hr>
<br>

<h2>György Berkovits: Die hundertjährige Tänzerin. Drei Theaterstücke</h2>
<img src="https://images-na.ssl-images-amazon.com/images/I/41DBe1xTuAL._SX333_BO1,204,203,200_.jpg" width="100" alt="Cover Berkovits: Tänzerin" style="float:left; margin-right: 24px">
<p>Schenk Verlag, 2021</p>
<a href="http://www.schenkbuchverlag.de/buch/Belletristik/Europaische_Literatur/126-Die_hundertjahrige_Tanzerin">Informationen zum Buch</a>
<p>

<br style="clear: left;"><br>
<hr>
<br>

<h2>"Mein Hirn: Ein See"</h2>
  <a href="https://www.translationale-berlin.net/" style="text-decoration: none;">translationale berlin | 1.–3. Oktober 2021 | Berlin<br>
<a href="https://www.translationale-berlin.net/festival/" style="text-decoration: none;">Aus der Pressemeldung:</a> Berlin hat ein neues Festival: Die <i>translationale berlin</i> feiert, was Literatur zu Weltliteratur macht. Drei Tage lang sind internationale Übersetzer:innen, Autor:innen, Künstler:innen und Wissenschaftler:innen im Collegium Hungaricum Berlin zu Gast. Mit Lesungen, Diskussionen, Performances und Vorträgen, öffentlichen Workshops mit Kindern, Jugendlichen und Studierenden, einer Festrede und Materialgesprächen zu Stimmen, Verantwortungen, Verwandlungsprozessen und Grenzüberschreitungen, mit übersetzter Poesie und der Poesie der Übersetzung, einem Übersetzerinnenporträt und einem Kritikerslam, Filmen, Fotos, einer Preisverleihung und einer Show über einige Dead Ladies der Übersetzungskunst rückt eine besondere literarische, soziale und politische Praxis in den Blick. 
<p>
Im Rahmen des Festivals findet ein Workshop zum Lyrikübersetzen statt, in dem wir uns mit  Ágnes Nemes Nagy und ihren Gedichten beschäftigen; die Ergebnisse werden im Rahmen der Abschlussveranstaltung "Mein Hirn: Ein See" präsentiert.
<p>
Geleitet haben den Workshop Orsolya Kalász und Christian Filips; kurz darauf erschien auch ein Band mit Gedichten von Ágnes Nemes Nagy in ihrer Übersetzung: <a href="http://roughbooks.ch/agnes_nemes_nagy/mein_hirn_ein_see.html"><span style="font-style: italic;">Mein Hirn: Ein See</span></a>.
