---
toc: true
---
<!DOCTYPE html>
<html lang="{{ layout.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:locale" content="de_DE" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}" />
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <script async src="{{ site.baseurl }}/js/slideshow.js"></script>
  </head>

  <body>
    <header>
      <img src="{{ site.baseurl }}/img/header.jpg" id="header-background">
      <img src="{{ site.baseurl }}/img/namenszug_chrk_tr2.gif" width=400px; alt="Christina Kunze, Hungarologin und Übersetzerin">
      <div id="head-text">
      </div>
      <div id="slideshow">
        <img src="{{ site.baseurl }}/img//header_re_bild1_kl.jpg">
        <img src="{{ site.baseurl }}/img//header_re_bild2_kl.jpg">
        <img src="{{ site.baseurl }}/img//header_re_bild3_kl.jpg">
        <img src="{{ site.baseurl }}/img//header_re_bild4_kl.jpg">
      </div>
    </header>
    <nav id="site-navigation">
      <span id="menu-icon">☰</span>
      <ul id="menu-main">
          {% assign current_page = nil %}
          {% if layout.language == "de" %}
            {% assign nav = site.nav_de %}
          {% else %}
            {% assign nav = site.nav_hu %}
          {% endif %}
          {% for link in nav %}
              {% assign current = '' %}
              {% if page.url == "/" and link.url == "/index.html" %}
                  {% assign current = 'current' %}
                  {% assign current_page = link %}
              {% endif %}
              {% if page.url contains link.url %}
                  {% assign current = 'current' %}
                  {% assign current_page = link %}
              {% endif %}
              <li class="menu-item {{ current }}">
                  <a href="{% if link.url contains "://" %}{{ link.url }}{% else %}{{ link.url | prepend: site.baseurl }}{% endif %}"
                      {% if link.url contains "://" %}target="_blank"{% endif %}>
                      {{ link.title }}
                  </a>
              </li>
          {% endfor %}
          <!-- TODO kontakt+impressum ins mobile menü -->
      </ul>
    </nav>
    {% if page.toc %}
      <div id="toc-container">
        {% include toc.html html=content id="toc" %}
      </div>
    {% endif %}
    <div id="main-container">
      <main role="main">
        {{ content }}
      </main>
    </div>
    <footer>
      <h1>{{ layout.contact }}</h1>
      <p>Berliner Allee 198<br>13088 Berlin</p>
      <p>Telefon: <a href="tel:+493092377807" style="text-decoration:none; color:#eeeeff;">+49 30 92377807</a></p>
      <p>E-Mail: kunze@revesz.de</p>
    </footer>
    <a id="impressum" href="{{site.baseurl}}/impressum">Impressum/Datenschutz</a>
  </body>
</html>
